<footer id="footer" role="contentinfo">
    <h2 class="sr-only">Footer</h2>
        @Html.Partial("_FooterNewsletter")
    <div class="footer-content">
        <div class="container">
            @Html.Partial("_FooterContent")
        </div>
    </div>
</footer>