<footer id="footer" role="contentinfo">
    <h2 class="sr-only">Footer</h2>
    @Html.PartialAsync("_FooterNewsletter")
    <div class="footer-content">
        <div class="container">
            @Html.PartialAsync("_FooterContent")
        </div>
    </div>
</footer>