<header id="header" role="banner">
    <a tabindex="1" id="skip-to-main-content" href="#breadcrumb-holder">Skip to Main Content</a>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-5" id="logo-holder">
                <button aria-label="Toggle menu" id="mega-menu-mobile"></button>
                <a tabindex="2" href="https://www.nationalarchives.gov.uk" title="Go to The National Archives homepage"
                   class="visible-lg visible-md visible-sm">
                    <img src="~/images/logo-white.png" alt="The National Archives" class="img-responsive logo" />
                    @*<img src="<?php echo str_replace( home_url(), '', get_template_directory_uri() ); ?>/img/logo-white.png"
                        srcset="<?php echo str_replace( home_url(), '', get_template_directory_uri() ); ?>/img/tna-horizontal-white-logo.svg"
                        alt="The National Archives" class="img-responsive logo">*@
                </a>
            </div>
            <div class="col-xs-8 col-sm-2" id="mobile-logo-holder">
                <button tabindex="5" title="Main menu" aria-label="Toggle menu" id="mega-menu-pull-down"
                        class="hidden-xs">
                    <span>Menu</span>
                </button>
                <a href="https://www.nationalarchives.gov.uk" title="Go to The National Archives homepage"
                   class="hidden-lg hidden-md hidden-sm">
                    <img src="~/images/logo-white.png" alt="The National Archives" class="img-responsive">/>
                    @*<img src="<?php echo str_replace( home_url(), '', get_template_directory_uri() ); ?>/img/logo-white.png"
                        srcset="<?php echo str_replace( home_url(), '', get_template_directory_uri() ); ?>/img/tna-horizontal-white-logo.svg"
                        alt="The National Archives" class="img-responsive">*@
                </a>
            </div>
            @*<?php include 'inc/global-search-desktop.php' ?>*@
        </div>
        @*<?php include 'inc/global-search-mobile.php' ?>*@
    </div>
</header>

<nav id="nav" role="navigation" class="navigation">
    <div class="mega-menu clearfix">
        @Html.Partial("_MegaMenu")
    </div>
</nav>