<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <script>document.getElementsByTagName("html")[0].className = "js";</script>

    <link rel='stylesheet'
          id='tna-parent-styles-css'
          href='~/css/compiled-css/base-sass.min.css'
          type='text/css'
          media='all' />
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T8DSWV');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8DSWV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    @await Html.PartialAsync("Partials/_Header")


    <main role="main" class="pb-3">
        <div class="container">
            @await Html.PartialAsync("Partials/_Breadcrumbs")
            @RenderBody()
        </div>
    </main>

    @await Html.PartialAsync("Partials/_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/mega-menu.js"></script>
</body>
</html>