@{
    ViewData["Title"] = "About the Book a reading room visit service";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<div class="heading">
    <h1 class="display-4">About the Book a reading room visit service</h1>
</div>
<div class="container content-wrapper">
    <div class="heading">
        <div class="row">
            <div class="col-md-9">
                <p>You can choose whether to book a visit with either a standard advance document order (up to 12 documents plus three reserves) or with a bulk advance document order (if you want to see 20-40 documents all from the same series).</p>

                <p>
                    After you book a visit, you will receive an email asking you to complete your booking reservation by completing a document order form within 48 hours. You will need a reader’s ticket (if you don’t have one you can <a href="https://secure.nationalarchives.gov.uk/Login/reader-register">
                        register for
                        one
                    </a>) and your document references at this stage.
                </p>

                <h2>Booking terms</h2>

                <p>
                    Visits must be booked at least a week in advance. After an initial 4-week release, we will continue to make tickets available on a rolling weekly basis every Monday afternoon.
                </p>

                <p>
                    Each booking is for one person only on a first come, first served basis – you will not be able to bring anyone with you, unless they book a visit themselves or have a duty of care. Please be thoughtful and considerate of others when you
                    book – we may cancel your booking if you exceed our reasonable limit of two bookings per month.
                </p>

                <p>
                    We will not permit anyone to enter the building who has not pre-booked a visit, so please do not travel if you have not been able to book as we will not be able to let you in.
                </p>

                <p>
                    We are able to offer a small number of camera stands for use in the reading rooms – these must also be booked in advance. You can also request <a href="https://tna.koha-ptfs.co.uk/">
                        library
                        materials
                    </a>, finding aids and microfilm/fiche for your visit – these must be requested in advance when you order your documents.
                </p>

                <p>Please note that we are currently unable to provide many of our usual reading room services, including research advice, copying and access to our computers.</p>

                <p>
                    Read more about <a href="~/what-can-I-expect-when-I-visit">
                        what
                        to expect when you visit
                    </a>.
                </p>
            </div>
        </div>
    </div>
</div>