@{
    ViewData["Title"] = "About the Book a reading room visit service";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<div class="heading">
    <h1 class="display-4">More information about booking a visit to view our documents</h1>
</div>
<div class="container content-wrapper">
    <div class="heading">
        <div class="row">
            <div class="col-md-9">
                <p>Use this service to book a visit to view our documents. Visitors without a booking will not be able to enter the building.</p>
                <p><a class="button primary" href="/book-a-reading-room-visit/">Book a visit to view our documents</a></p>
                <h2>Which documents can I see?</h2>
                <p>Choose between a visit with a:</p>
                <ul>
                    <li>standard advance document order (up to 12 documents plus three reserves) – a 1-day visit.</li>
                    <li>bulk advance document order (if you want to see 20-40 documents all from the same series). Your booking will be valid for 2 consecutive days.</li>
                </ul>
                <p>See our <a href="https://www.nationalarchives.gov.uk/about/visit-us/opening-times/">opening times</a>.</p>
                <h2>How do I book?</h2>
                <p>Booking a visit to view our documents is a five-step online process:</p>
                <ol>
                    <li>Select a date</li>
                    <li>Enter your details</li>
                    <li>Your visit details</li>
                    <li>Order documents: confirm your booking</li>
                    <li>Order complete</li>
                </ol>
                <p>
                    If you do not have your document references to hand, you can still complete Steps 1-3 to secure your date of visit, then return at a later stage to complete Steps 4-5. You can return to Steps 4-5 up to 5 working days before your visit
                    date.
                </p>
                <p>Use <a href="https://discovery.nationalarchives.gov.uk/">Discovery</a>, our catalogue, to gather your document references.</p>
                <p>You will need a reader’s ticket (if you don’t have one you can <a href="https://secure.nationalarchives.gov.uk/Login/reader-register">register for one</a> to make a provisional booking.</p>
                <h2>Terms of booking</h2>
                <p>New slots for booking will be made available every day.</p>
                <p>Each booking is for one person only on a first-come, first-served basis – you will not be able to bring anyone with you, unless they book a visit themselves or have a duty of care.</p>
                <p>There is a reasonable limit of any two types of bookings (standard or bulk) in 28 days. Two bookings cannot be made for the same date.</p>
                <p>Please be thoughtful and considerate of others when you book – we may cancel your booking if you exceed our reasonable limit of two bookings in 4 weeks.</p>
                <h2>Access requirements</h2>
                <p>All seats in our reading rooms are accessible. There is a lift in the building.</p>
                <p>Read more information about the <a href="https://www.nationalarchives.gov.uk/about/visit-us/information-for-disabled-visitors/">access we provide</a>.</p>
                <h2>Research requests</h2>
                <p>
                    We are currently unable to provide many of our usual reading room services, including research advice and copying. You can request <a href="https://tna.koha-ptfs.co.uk/">library materials</a>, camera stands, microfilm/fiche or finding/preservation
                    aids that are normally available on self-service. We cannot guarantee that all of the research materials your request will be available for your visit.
                </p>
                <p>Computer access will be available to all visitors with a confirmed booking.</p>
                <h3>Camera stands</h3>
                <p>
                    <a href="https://www.nationalarchives.gov.uk/about/visit-us/researching-here/can-take-reading-rooms/">Camera stands</a> will be available to each visitor in the document reading room. Visitors who want to use a camera stand in the Map
                    and large document reading room should request a camera stand using the provisional booking form.
                </p>
                <h2>Prepare for your visit</h2>
                <p>Find out about <a href="/book-a-reading-room-visit/what-can-I-expect-when-I-visit/">what you can expect when you visit</a>.</p>

            </div>
        </div>
    </div>
</div>