@{
    ViewData["Title"] = "Server error";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<h1 class="margin-bottom">Server error</h1>
<p>This page could not be loaded. Try reloading the page.</p>
