@{
    ViewData["Title"] = "Terms of use";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<div class="heading">
    <h1 class="display-4">Booking events</h1>
</div>
<div class="container content-wrapper">
    <div class="heading">
        <div class="row">
            <div class="col-md-9">
                <h2>Conditions of sale</h2>
                <ul>
                    <li>The National Archives reserves the right to refuse admission</li>
                    <li>Latecomers may be refused admission until a suitable break</li>
                    <li>Smoking is not permitted anywhere in the building</li>
                    <li>Food and drink may only be consumed in the designated areas</li>
                    <li>Food, drink, coats, and bags, are not permitted in events that include original records</li>
                    <li>Telephones, cameras and recording devices are not permitted</li>
                    <li>The National Archives reserves the right to make alterations to the programme</li>
                    <li>Tickets cannot be exchanged or refunded</li>
                </ul>
            </div>
        </div>
    </div>
</div>