@{
    ViewData["Title"] = "What can I expect when I visit";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<div class="heading">
    <h1>What can I expect when I visit?</h1>
</div>
<div class="container content-wrapper">
    <div class="heading">
        <div class="row">
            <div class="col-md-9">

                <p>We’re doing all we can to help everyone feel safe when they’re on site, but we need your help too. We ask that all visitors behave responsibly and respect the measures that we have put in place:</p>

                <ul>
                    <li>
                        Booking system to help us manage visitor numbers – all visits must be pre-booked without exception, and all documents ordered in advance
                    </li>
                    <li>One-way systems and capacity controls in frequently used areas</li>
                    <li>Floor markers and temporary signage to help with social distancing</li>
                    <li>Rigorous cleaning during and at the end of each day</li>
                    <li>Easier access to sinks for hand washing and provision of hand sanitiser</li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=Wm4mq5X_EFs">This short video</a> shows what you can expect when you visit.
                    </li>
                </ul>


                <p>
                    We are asking everyone booking a visit to commit to a <a href="~/documents/coronavirus-visitor-charter.pdf">
                        coronavirus visitor
                        charter
                    </a>, aimed at encouraging all visitors to do their bit to help us ensure everyone’s safety.
                </p>

                <p>
                    We confirm we have complied with the government’s <a href="~/documents/covid-19-secure-certificate.pdf">
                        guidance
                        on managing the risk
                        of COVID-19
                    </a> and have obtained the We’re Good To Go mark.
                </p>

                <h2>Face coverings and gloves</h2>
                <p>
                    Due to a <a href="https://www.gov.uk/government/publications/face-coverings-when-to-wear-one-and-how-to-make-your-own/face-coverings-when-to-wear-one-and-how-to-make-your-own#when-to-wear-a-face-covering">
                        change
                        in the law
                    </a>, all visitors are required to wear face coverings during their visit. If you are travelling to us on public transport you must also wear a face covering.
                </p>

                <p>
                    If you have a <a href="https://www.gov.uk/government/publications/face-coverings-when-to-wear-one-and-how-to-make-your-own/face-coverings-when-to-wear-one-and-how-to-make-your-own#when-you-do-not-need-to-wear-a-face-covering">
                        legitimate
                        reason not to wear a face covering
                    </a>, please indicate this on the form when you book your visit – this will help our staff prepare for your arrival and ensure that your visit is not delayed. If you need to lipread, please
                    advise our staff and they will remove their face covering at a safe distance.
                </p>

                <p>
                    We do not allow gloves to be worn in our reading rooms, unless you are handling photographs, in line with long-standing guidance relating to the preservation of our collection. All visitors will be asked to wash their hands thoroughly
                    before and after their visit to the reading rooms.
                </p>

                <h2>Looking after our documents</h2>
                <p>All documents must be ordered in advance, when you have booked a reading room visit. Documents will be delivered to your allocated document locker and will be quarantined for a period of time before returning them to our repository.</p>

                <p>
                    If another visitor has already seen a document that you have requested within a certain amount of time before your visit, we will be unable to provide you with access to the document – for this reason, we are suggesting that visitors suggest
                    a number of alternative documents that can be supplied if available.
                </p>

                <h2>Taking a break</h2>
                <p>
                    Please note that we are unable to provide any food and drink to visitors until Step 3 of the government’s roadmap (expected mid-May). We do, however, have plenty of indoor and outdoor seating for visitors to use while consuming their own refreshments.
                </p>

                <h2>Getting help with your research</h2>
                <p>
                    We are now offering a reduced enquiry service for pre-booked visitors in the Start Here area of the first floor reading room between 10:30 and 14:30. Some of our computers will also be available to pre-booked visitors. Although our reference
                    library remains closed, you can order supplementary research resources to use during your visit, such as finding aids,
                    <a href="https://tna.koha-ptfs.co.uk/">library materials</a> and microfilm/fiche.
                </p>


            </div>
        </div>
    </div>
</div>