<fieldset>
    <legend><label for="reference-number">Enter the department and series number (e.g. FO 371)</label></legend>
    <p>
        We are unable to produce the following document series in bulk due to their size, condition or content:

        <span id="unavailable-docs">BT 42, BT 43, BT 50, BT 52, C 13, C 14, E 112, KB 122, PROB 4, WO 416</span>
    </p>

    <input id="reference-number" name="reference-number" type="text" />
</fieldset>

<fieldset>
    <legend>Enter between 20-40 documents (e.g. FO 371/114865)</legend>
    <p>You can order a minimum of 20 documents up to a maximum of 40 from the same series.</p>
    <p>Search the catalogue and note document references, and then enter the references in the fields below.</p>

    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="order-form-field">
            <label for="doc-1">1</label>
            <input id="doc-1" name="doc-1" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-2">2</label>
            <input id="doc-2" name="doc-2" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-3">3</label>
            <input id="doc-3" name="doc-3" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-4">4</label>
            <input id="doc-4" name="doc-4" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-5">5</label>
            <input id="doc-5" name="doc-5" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-6">6</label>
            <input id="doc-6" name="doc-6" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-7">7</label>
            <input id="doc-7" name="doc-7" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-8">8</label>
            <input id="doc-8" name="doc-8" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-9">9</label>
            <input id="doc-9" name="doc-9" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-10">10</label>
            <input id="doc-10" name="doc-10" type="text" />
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="order-form-field">
            <label for="doc-11">11</label>
            <input id="doc-11" name="doc-11" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-12">12</label>
            <input id="doc-12" name="doc-12" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-13">13</label>
            <input id="doc-13" name="doc-13" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-14">14</label>
            <input id="doc-14" name="doc-14" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-15">15</label>
            <input id="doc-15" name="doc-15" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-16">16</label>
            <input id="doc-16" name="doc-16" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-17">17</label>
            <input id="doc-17" name="doc-17" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-18">18</label>
            <input id="doc-18" name="doc-18" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-19">19</label>
            <input id="doc-19" name="doc-19" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-20">20</label>
            <input id="doc-20" name="doc-20" type="text" />
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="order-form-field">
            <label for="doc-21">21</label>
            <input id="doc-21" name="doc-21" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-22">22</label>
            <input id="doc-22" name="doc-22" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-23">23</label>
            <input id="doc-23" name="doc-23" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-24">24</label>
            <input id="doc-24" name="doc-24" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-25">25</label>
            <input id="doc-25" name="doc-25" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-26">26</label>
            <input id="doc-26" name="doc-26" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-27">27</label>
            <input id="doc-27" name="doc-27" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-28">28</label>
            <input id="doc-28" name="doc-28" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-29">29</label>
            <input id="doc-29" name="doc-29" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-30">30</label>
            <input id="doc-30" name="doc-30" type="text" />
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="order-form-field">
            <label for="doc-31">31</label>
            <input id="doc-31" name="doc-31" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-32">32</label>
            <input id="doc-32" name="doc-32" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-33">33</label>
            <input id="doc-33" name="doc-33" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-34">34</label>
            <input id="doc-34" name="doc-34" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-35">35</label>
            <input id="doc-35" name="doc-35" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-36">36</label>
            <input id="doc-36" name="doc-36" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-37">37</label>
            <input id="doc-37" name="doc-37" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-38">38</label>
            <input id="doc-38" name="doc-38" type="text" />
        </div>

        <div class="order-form-field">
            <label for="doc-39">39</label>
            <input id="doc-39" name="doc-39" type="text" />
        </div>
        <div class="order-form-field">
            <label for="doc-40">40</label>
            <input id="doc-40" name="doc-40" type="text" />
        </div>
    </div>
</fieldset>