<section class="contact-footer">
    <div class="row">
        <div class="col-md-6 first">
            <h2>Need help with this service?</h2>
            <a target="_blank" rel="noreferrer noopener" href="https://www.nationalarchives.gov.uk/contact-us/">Contact us</a>
        </div>
        <div class="col-md-6">
            <h2>What do you think of this service?</h2>
            <a target="_blank" rel="noreferrer noopener" href="https://www.smartsurvey.co.uk/s/readingroomvisitbooking/">Take our survey</a>
        </div>
    </div>
</section>