<footer id="footer">
    <h2 class="sr-only">Footer</h2>
    <div class="footer-content">
        <div class="container">
            @await Html.PartialAsync("Partials/_FooterContent")
        </div>
    </div>
</footer>