<header id="header">
    <a id="skip-to-main-content" href="#main-content">Skip to Main Content</a>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-5" id="logo-holder">
                <button aria-label="Toggle menu" id="mega-menu-mobile"></button>
                <a href="https://www.nationalarchives.gov.uk" title="Go to The National Archives homepage"
                   class="visible-lg visible-md visible-sm">
                    <img src="~/images/logo-white.png" alt="The National Archives" class="img-responsive logo" />
                </a>
            </div>
            <div class="col-xs-8 col-sm-2" id="mobile-logo-holder">
                <button title="Main menu" aria-label="Toggle menu" id="mega-menu-pull-down"
                        class="hidden-xs">
                    <span>Menu</span>
                </button>
                <a href="https://www.nationalarchives.gov.uk" title="Go to The National Archives homepage"
                   class="hidden-lg hidden-md hidden-sm">
                    <img src="~/images/logo-white.png" alt="The National Archives" class="img-responsive" />
                </a>
            </div>
        </div>
    </div>
</header>

<nav id="nav" class="navigation">
    <div class="mega-menu clearfix">
        @await Html.PartialAsync("Partials/_MegaMenu")
    </div>
</nav>