<div class="notification-banner no-print">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="notice">
                    <strong class="title">Please note:</strong>
                    <p>
                        from April 2024 to early 2025, we are replacing the repository windows in the older part of our building. 
                        The work is likely to be noisy and may cause some noise disturbance in the reading rooms. We apologise for any disruption to your visit.  
                        <a target="_blank" href="https://www.nationalarchives.gov.uk/about/news/major-improvement-works-to-our-building/">Learn more.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>