<div class="notification-banner no-print">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="notice">
                    <strong class="title">Please note</strong>
                    <p>On Wednesday 13 March 2024 the Reading Rooms will open late, at 10am, due to staff training.</p>
                </div>
            </div>
        </div>
    </div>
</div>