<div class="notification-banner no-print">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="notice">
                    <strong class="title">BETA</strong>
                    <p>This is a new service – your <a target="_blank" rel="noreferrer noopener" href="https://www.smartsurvey.co.uk/s/readingroomvisitbooking/">feedback</a> will help us to improve it.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>