<div class="notification-banner no-print">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="notice">
                    <strong class="title">Upcoming maintenance</strong>
                    <p>
                        Booking a visit to view our documents will be unavailable from 17:00 on Thursday 2 April until 11:00 on Tuesday 7 April due to scheduled IT maintenance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
