<div class="notification-banner no-print">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="notice">
                    <strong class="title">Please note:</strong>
                    <p>
                        We are replacing the windows in the older part of our building until Autumn 2025 and the work may be noisy. We apologise for any disruption to your visit.
                        <a target="_blank" href="https://www.nationalarchives.gov.uk/about/news/improvement-work-to-our-building-continues/">Learn more.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>