@using book_a_reading_room_visit.web.Models;

@{
    ViewData["Title"] = "Visit availability";
}

@model OrderType

<h1 class="display-4">Welcome to book a reading room visit</h1>

<div class="text-center">

    <section class="container">
        <section>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    @if (Model == OrderType.StandardOrderVisit)
                    {
                        <h2>Standard visit availability</h2>
                    }

                    else
                    {
                        <h2>Bulk visit availability</h2>
                    }
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <form id="visit-customisation-form" action="@Url.Action("Availability", "Home", new { orderType = @Model.ToStringURL() } )" method="POST">
                    <div class="col-md-4 col-sm-4">
                        <section id="room-selection">
                            <fieldset>
                                <legend class="sr-only">Select reading room</legend>

                                <div>
                                    <label for="standard-room">Standard reading room</label>
                                    <input name="room-type" id="standard-room" type="radio" value="standard" checked />
                                </div>

                                <div class="form-indent">
                                    <label for="camera-stand">I would also like a camera stand</label>
                                    <input name="camera-stand" id="camera-stand" type="checkbox" />
                                </div>

                                <div>
                                    <label for="map-and-lg-room">Map and large document</label>
                                    <input name="room-type" id="map-and-lg-room" type="radio" value="map-and-lg" />
                                </div>

                                <div class="form-indent">
                                    <p>No camera stands avaiable in this room</p>
                                </div>
                            </fieldset>
                        </section>

                        <button class="button" type="submit">Update</button>
                    </div>
                </form>
                
                <section id="date-selection">
                    <div class="col-md-8 col-sm-8">
                        <ul>
                            <li class="date">
                                <a href="/@Model.ToStringURL()/secure-booking/@Guid.NewGuid().ToString()?orderType=@Model.ToStringURL()&readingRoom=standard&cameraStand=true">

                                    <span class="col-md-6">Tuesday 15 February</span>
                                    <span class="col-md-6">X places available</span>
                                </a>
                            </li>
                            <li class="date">
                                <a href="/@Model.ToStringURL()/secure-booking/@Guid.NewGuid().ToString()?orderType=@Model.ToStringURL()&readingRoom=standard&cameraStand=true">

                                    <span class="col-md-6">Wednesday 16 February</span>
                                    <span class="col-md-6">X places available</span>
                                </a>
                            </li>
                            <li class="date">
                                <a href="/@Model.ToStringURL()/secure-booking/@Guid.NewGuid().ToString()?orderType=@Model.ToStringURL()&readingRoom=standard&cameraStand=true">

                                    <span class="col-md-6">Thursday 17 February</span>
                                    <span class="col-md-6">X places available</span>
                                </a>
                            </li>
                            <li class="date">
                                <a href="/@Model.ToStringURL()/secure-booking/@Guid.NewGuid().ToString()?orderType=@Model.ToStringURL()&readingRoom=standard&cameraStand=true">

                                    <span class="col-md-6">Friday 18 February</span>
                                    <span class="col-md-6">X places available</span>
                                </a>
                            </li>
                            <li class="date">
                                <a href="/@Model.ToStringURL()/secure-booking/@Guid.NewGuid().ToString()?orderType=@Model.ToStringURL()&readingRoom=standard&cameraStand=true">

                                    <span class="col-md-6">Saturday 19 February</span>
                                    <span class="col-md-6">X places available</span>
                                </a>
                            </li>
                            <li class="date">
                                <a href="/@Model.ToStringURL()/secure-booking/@Guid.NewGuid().ToString()?orderType=@Model.ToStringURL()&readingRoom=standard&cameraStand=true">

                                    <span class="col-md-6">Tuesday 22 February</span>
                                    <span class="col-md-6">X places available</span>
                                </a>
                            </li>
                            <li class="date">
                                <a href="/@Model.ToStringURL()/secure-booking/@Guid.NewGuid().ToString()?orderType=@Model.ToStringURL()&readingRoom=standard&cameraStand=true">

                                    <span class="col-md-6">Wednesday 23 February</span>
                                    <span class="col-md-6">X places available</span>
                                </a>
                            </li>
                            <li class="date">
                                <a href="/@Model.ToStringURL()/secure-booking/@Guid.NewGuid().ToString()?orderType=@Model.ToStringURL()&readingRoom=standard&cameraStand=true">

                                    <span class="col-md-6">Thursday 24 February</span>
                                    <span class="col-md-6">X places available</span>
                                </a>
                            </li>
                            <li class="date">
                                <a href="/@Model.ToStringURL()/secure-booking/@Guid.NewGuid().ToString()?orderType=@Model.ToStringURL()&readingRoom=standard&cameraStand=true">

                                    <span class="col-md-6">Friday 25 February</span>
                                    <span class="col-md-6">X places available</span>
                                </a>
                            </li>
                            <li class="date">
                                <a href="/@Model.ToStringURL()/secure-booking/@Guid.NewGuid().ToString()?orderType=@Model.ToStringURL()&readingRoom=standard&cameraStand=true">

                                    <span class="col-md-6">Saturday 26 February</span>
                                    <span class="col-md-6">X places available</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>