@model book_a_reading_room_visit.web.Models.AvailabilitySummaryViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Book a visit to view our documents</h1>

<div class="text-center">

    <section class="container">

        <section>
            <div class="container-heading-text">
                <p>
                    To reserve a place, you will need your reader's ticket number and to know how many documents you would like to see.
                    You can then choose an available date to view documents in our reading rooms. You can book a maximum of two visits
                    per month. See our Terms and Conditions for more details. <a href="">More information about how to book and what to expect ></a>
                </p>
            </div>
        </section>

        <section>
            <div class="row">
                <section class="order-option">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="order-option-heading">
                                <h2>Book a standard visit</h2>
                                <p class="bold-text">@Model.StandardBookingAvailable spaces available</p>
                            </div>

                            <ul>
                                <li>Usually a 1-day visit</li>
                                <li>Up to 12 documents for 1 day <span class="bold-text">or</span> 24 documents for 2 days</li>
                                <li>Documents can be from different series, e.g. ADM 22 and C 142</li>
                                <li>Computer access available</li>
                            </ul>

                            <a class="button primary" href="@Url.Action("Availability", "Home", new { orderType = "standard-order-visit" })">Select a date</a>
                        </div>
                    </div>
                </section>

                <section class="order-option">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="order-option-heading">
                                <h2>Book a bulk order visit</h2>
                                <p class="bold-text">@Model.BulkBookingsAvailable spaces available</p>
                            </div>

                            <ul>
                                <li>Usually a 2-day visit</li>
                                <li>Between 20 - 40 documents</li>
                                <li>Documents have to be from the same series, e.g. ADM 1 - ADM 20</li>
                                <li>Computer access available</li>
                            </ul>

                            <a class="button primary" href="@Url.Action("Availability", "Home", new { orderType = "bulk-order-visit" })">Select a date</a>
                        </div>
                    </div>
                </section>
            </div>

            <section id="computer-only">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Book to use a computer only</h2>

                        <div class="container">
                            <p>
                                If you’re not looking to view original documents, you can still use computers in our open reading room to view digital
                                documents for free or access other partner services. <a href="">Find out more ></a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</div>