@using book_a_reading_room_visit.web.Models;
@{
    ViewData["Title"] = "Booking confirmation";
}
@model BookingViewModel

<h1 class="display-4">Book a visit to view our documents</h1>

<div class="text-center">

    <section class="container">

        <div class="container-heading">
            <h2>We have reserved a space for you</h2>
        </div>

        <section class="prompt-grey">
            <div class="row">
                <div class="booking-summary">
                    <p>Standard order - Saturday 13 February</p>

                    <p>Standard document reading room (with a camera stand) </p>
                </div>
                <p>
                    You will need to specify which documents you would like to see by
                    <span id="booking-date">11.59pm on Wednesday 10th February</span>
                </p>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>
                        We have sent you email confirming your reservation to the email address associated with your reader’s ticket.
                        You can access the document order form at any time from the link provided in the email.
                    </p>
                </div>
            </div>
        </section>

        <section class="reservation-options">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <span class="col-md-6">
                        <a class="button primary" href="/@Model.OrderType.ToStringURL()/order-documents">Continue booking now</a>
                    </span>

                    <span class="col-md-6">
                        <a class="button primary" href="/">I'd like to continue later</a>
                    </span>
                </div>
            </div>
        </section>
    </section>
</div>
