@using book_a_reading_room_visit.web.Helper
@using book_a_reading_room_visit.web.Models

@{
    ViewData["Title"] = "Continue later";
}

<h1 class="display-4">Before you leave</h1>

<div class="container content-wrapper">

    <div class="heading">
        <div class="row">
            <div class="col-md-12">
                <p>
                    You have a provisional booking for:
                </p>
            </div>
        </div>
    </div>

    <div class="booking-details">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Booking ref</th>
                            <td>
                                Booking reference
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Visit type</th>
                            <td>
                                Visit type
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Visit date</th>
                            <td>Visit date</td>
                        </tr>
                        <tr>
                            <th scope="row">Reading room</th>
                            <td>Reading room</td>
                        </tr>
                        <tr>
                            <th scope="row">Seat number</th>
                            <td>
                                Seat number
                                <p class="helper-text no-margin">Based on availability, we may need to change your seat on the date of your visit.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    If you did not provide an email address as part of your booking, safely note these booking details
                    or future reference. Return to your booking at this link before <span class="bold-text">
                        Monday 13
                        February 2021 at 11.59pm British Summer Time (BST)
                    </span>:
                    <br />
                    <a target="_blank" rel="noreferrer noopener" href="https://www.nationalarchives.gov.uk/book-a-reading-room-visit/return-to-booking">https://www.nationalarchives.gov.uk/book-a-reading-room-visit/return-to-booking</a>
                </p>

                <p>
                    If you provided an email address as part of your booking, a direct link to this form is also in
                    your reservation confirmation email, so you can return to your document order at any point before
                    <span class="bold-text">Monday 13 February 2021 at 11.59pm British Summer Time (BST)</span>. If you
                    can’t see the reservation confirmation email in your inbox, check your spam and junk email folders.
                </p>

                <p>Complete your document order form at any point before the deadline otherwise your visit will be cancelled.</p>

                <p class="no-margin">You will need your booking reference and reader's ticket number to return to this booking.</p>
            </div>
        </div>

        <div class="reservation-options">
            <div class="row">
                <div class="col-md-12">
                    <h2>Are you sure you want to continue later?</h2>

                    <a class="button primary" href="@Url.Action("Booking", "ThankYou")">Yes, I'd like to continue later</a>
                    <a class="button secondary" href="@Url.Action("Booking", "ContinueLater")">No, take me to the order form</a>
                </div>
            </div>
        </div>
    </div>
</div>
