@{
    ViewData["Title"] = "Return to your booking";
}

<h1 class="display-4">Return to your booking</h1>

<div class="text-center">

    <div class="container content-wrapper">

        <div class="heading align-left">
            <div class="row">
                <div class="col-md-12">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="summary-error-message">
                            <h2>Sorry there was a problem.</h2>
                            <p>Check the highlighted fields to continue.</p>
                        </div>
                    }
                    <p>
                        If you have already reserved a space, you can use the form below to find your document
                        order form. You will need to complete your document order at least <span class="bold-text">
                            5 working days before your date of visit
                        </span>. If you do not complete this step your visit
                        will be automatically cancelled.
                    </p>
                    <p>
                        You can return to amend or complete your document order at any point before the
                        deadline. Once this date has passed, you can't change your document order as we will
                        begin preparing your order for your visit.
                    </p>
                </div>
            </div>
        </div>

        <div class="rtn-to-booking">
            <div class="row">
                <div class="col-md-12 align-left">
                    <form action="@Url.Action("ReturnToBooking", "Booking")" class="rtn-to-booking-form" method="post">
                        @Html.ValidationSummary()
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <label for="reference-number">Enter your booking reference number</label>
                            <p class="helper-text">
                                This will have been shown on screen when you reserved your space or sent in your
                                confirmation email, e.g. RR811-260-2036X
                            </p>

                            <input id="reference-number" name="bookingReference" type="text" required />
                        </fieldset>

                        <fieldset>
                            <label for="reader-ticket-number">Enter your reader’s ticket number</label>
                            <p class="helper-text">
                                This can be found on your reader’s ticket, e.g. 102087
                            </p>

                            <input id="reader-ticket-number" name="ticket" type="text" required />
                        </fieldset>

                        <button type="submit" class="button">Return to your document order</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
