@using book_a_reading_room_visit.web.Models;

@{
    ViewData["Title"] = "Secure booking";
}

@model BookingViewModel

<h1 class="display-4">2. Enter your reader's ticket</h1>

<div class="text-center">

    <section class="container">

        <div class="container-heading">
            <h2>You are about to book the following space</h2>
        </div>

        <section class="prompt-grey">
            <div class="row">
                <div class="booking-summary">
                    <p>Standard order - Saturday 13 February</p>

                    <p>Standard document reading room (with a camera stand) </p>
                </div>
            </div>
        </section>

        <section class="reader-ticket-form">
            <div class="row">
                <form>
                    <fieldset>
                        <legend class="sr-only">Enter reader ticket number</legend>

                        <div>
                            <label for="reader-ticket-number">To reserve your space, enter your reader's ticket number</label>
                        </div>

                        <input id="reader-ticket-number" name="reader-ticket-number" type="text" placeholder="Enter ticket number" />

                        <button class="button" type="submit">Check ticket details</button>
                    </fieldset>
                </form>
                <a href="/">How to register or renew your reader's ticket</a>
            </div>
        </section>

        <section class="booking-options">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="@Url.Action("BookingConfirmation", "Booking", new { orderType = @Model.OrderType.ToStringURL() })">
                        <fieldset id="conditions">
                            <legend class="sr-only">Please accept the following conditions to continue with your order</legend>

                            <div>
                                <label for="terms-conditions">Accept <a href="#">terms and conditions</a></label>
                                <input id="terms-conditions" name="terms-conditions" type="checkbox" required />
                            </div>
                            <div>
                                <label for="covid-charter">Accept <a href="#">COVID charter</a></label>
                                <input id="covid-charter" name="covid-charter" type="checkbox" required />
                            </div>
                        </fieldset>

                        <span class="col-md-6">
                            <a class="button primary" href="@Url.Action("Availability", "Home", new { orderType = @Model.OrderType.ToStringURL() } )">Back</a>
                        </span>

                        <span class="col-md-6">
                            <button type="submit" class="button primary">Reserve your space</button>
                        </span>
                    </form>
                </div>
            </div>
        </section>
    </section>
</div>
