@using book_a_reading_room_visit.model
@using book_a_reading_room_visit.web.Helper
@using book_a_reading_room_visit.web.Models

@{
    ViewData["Title"] = "Continue later confirmation - The National Archives";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<h1 class="display-4">You have chosen to continue your document order later</h1>

<div class="container content-wrapper">

    <div class="heading">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Your booking is provisional. Complete the document order form at any point before the deadline
                    otherwise your visit will be cancelled.
                </p>

                <ul>
                    <li>
                        Go to <a href="https://discovery.nationalarchives.gov.uk/">Discovery, our catalogue</a> to find your document references.
                    </li>
                    <li>
                        See our <a href="https://www.nationalarchives.gov.uk/help-with-your-research/">research guides</a> on how to get started in Discovery, our catalogue.
                    </li>
                </ul>

                <p>Close your browser if you are using a shared device.</p>
            </div>
        </div>
    </div>

</div>
