@{
    ViewData["Title"] = "Manage document order";
}

<div class="text-center">
    <h1 class="display-4">Welcome to book a reading room visit</h1>
    <p>allow users to access the reserved booking using reader ticker</p>
</div>
