@using book_a_reading_room_visit.web.Models;
@{
    ViewData["Title"] = "Manage document order";
}
@model BookingViewModel

<h1 class="display-4">5. Order complete</h1>

<div class="text-center">

    <section class="container">

        <section class="prompt-white container-heading">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        You can add to or remove documents from this order <span class="bold-text">until 23:59 on Monday 16 January</span>
                    </p>
                    <p>
                        Return to this form at any time before the deadline using the link below or from your confirmation email. Once the date
                        has passed, further amendments won’t be possible as we will begin preparing your order ready for your visit.
                    </p>

                    <div class="col-md-6 col-md-offset-3">
                        <span class="col-md-6">
                            <a href="@Url.Action("OrderDocuments", "DocumentOrder", new { orderType = @Model.OrderType.ToStringURL() } )">Edit your order</a>
                        </span>
                        <span class="col-md-6">
                            <a href="#">Print your order</a>
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <section class="booking-details">
            <div class="row">
                <h2>Your booking details</h2>

                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Booking reference</th>
                                <td>RR23610</td>
                            </tr>
                            <tr>
                                <th scope="row">Seat type</th>
                                <td>Document reading room, with camera stand</td>
                            </tr>
                            <tr>
                                <th scope="row">Visit date</th>
                                <td>20 January (one day visit)</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="/">Cancel this booking ></a>
                </div>
            </div>
        </section>

        <section class="order-summary">
            <div class="row">
                <div class="col-md-6">
                    <h3>Your standard order documents</h3>
                    <ol class="document-list">
                        <li>
                            <p class="bold-text">FCO 141/19497</p>
                            <p>Kenya land transfer programme: Captain F L Jones…</p>
                        </li>
                        <li>
                            <p class="bold-text">FCO 141/19497</p>
                            <p>Kenya land transfer programme: Captain F L Jones…</p>
                        </li>
                        <li>
                            <p class="bold-text">FCO 141/19497</p>
                            <p>Kenya land transfer programme: Captain F L Jones…</p>
                        </li>
                        <li>
                            <p class="bold-text">FCO 141/19497</p>
                            <p>Kenya land transfer programme: Captain F L Jones…</p>
                        </li>
                        <li>
                            <p class="bold-text">FCO 141/19497</p>
                            <p>Kenya land transfer programme: Captain F L Jones…</p>
                        </li>
                    </ol>
                </div>

                @if (Model.OrderType == OrderType.StandardOrderVisit)
                {
                    <div class="col-md-6">
                        <h3>Your reserve documents</h3>
                        <ol class="document-list">
                            <li>
                                <p class="bold-text">FCO 141/19497</p>
                                <p>Kenya land transfer programme: Captain F L Jones…</p>
                            </li>
                            <li>
                                <p class="bold-text">FCO 141/19497</p>
                                <p>Kenya land transfer programme: Captain F L Jones…</p>
                            </li>
                            <li>
                                <p class="bold-text">FCO 141/19497</p>
                                <p>Kenya land transfer programme: Captain F L Jones…</p>
                            </li>
                        </ol>
                    </div>
                }

            </div>
        </section>
        <a class="button" href="#">Print this order</a>
    </section>
</div>
