@using book_a_reading_room_visit.web.Models;
@{
    ViewData["Title"] = "Home Page - Page 5";
}
@model BookingViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to book a reading room visit</h1>
    <p>Page 5 of 5</p>
</div>
