@using book_a_reading_room_visit.web.Models;

@{
    ViewData["Title"] = "Order documents";
}

@model BookingViewModel

<h1 class="display-4">4. Order documents for your visit</h1>

<div class="text-center">

    <section class="container">

        <section id="progress-bar">
            <div class="row">
                <div class="text-center">
                    <ol>
                        <li><span class="step-number">1</span> <span class="step">Select a date</span></li>
                        <li><span class="step-number">2</span> <span class="step">Enter your reader's ticket</span></li>
                        <li><span class="step-number">3</span> <span class="step">Reservation confirmation</span></li>
                        <li class="active"><span class="step-number">4</span> <span class="step">Order documents</span></li>
                        <li><span class="step-number">5</span> <span class="step">Order complete</span></li>
                    </ol>
                </div>
            </div>
        </section>

        <section class="booking-details container-heading">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        You have a provisional reservation for a visit to the reading rooms. Complete this form to pre-order original
                        documents held by The National Archives.
                    </p>
                    <p>
                        If you do not complete this step by <span class="bold-text">23:59 BST on Monday 30 March</span> your visit will be automatically cancelled.
                        A direct link to this form is also in your confirmation email, so you can return to amend or complete your
                        document order at any point before <span class="bold-text">23:59 BST on Monday 30 March</span>. Check your spam and junk email folders.
                    </p>
                    <p>
                        Once this date has passed, you can't change your document order as we will begin preparing your order for your
                        visit.
                    </p>
                </div>

                <div class="col-md-12">
                    <h2>Your reservation details</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Booking reference</th>
                                <td>RR23610</td>
                            </tr>
                            <tr>
                                <th scope="row">Seat type</th>
                                <td>Document reading room, with camera stand</td>
                            </tr>
                            <tr>
                                <th scope="row">Visit date</th>
                                <td>20 January (one day visit)</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#">Cancel this booking ></a>
                </div>
            </div>
        </section>

        <section class="prompt-white">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        You can add to or remove documents from this order <span class="bold-text">until 23:59 on Monday 16 January</span>
                    </p>
                </div>
            </div>
        </section>

        <section class="order-form">
            <div class="row">
                <div class="col-md-12">
                    <form action="@Url.Action("DocumentOrder", "DocumentOrder", new { orderType = @Model.OrderType.ToStringURL(), bookingReference = @Guid.NewGuid().ToString() } )" method="POST">
                        @Html.AntiForgeryToken()
                        @if (Model.OrderType == OrderType.StandardOrderVisit)
                        {
                            @await Html.PartialAsync("Partials/_StandardOrderForm")
                        }

                        else
                        {
                            @await Html.PartialAsync("Partials/_BulkOrderForm")
                        }

                        <fieldset>
                            <legend>
                                <label for="additional-reqs">Additional access requirements or research requests</label>
                            </legend>

                            <p>This should reflect the specific additional services we accomodate</p>

                            <textarea id="additional-reqs" name="additional-reqs"></textarea>
                        </fieldset>

                        <button class="button" type="submit">Add these to your order</button>
                    </form>
                </div>
            </div>
        </section>
    </section>
</div>