main {
    background-color: #eee;
}

a.button {
    margin-bottom: 1em;
    text-decoration: none;
}

section.container {
    background-color: #fff;
    margin-top: 2.4em;
    padding: 0em 2em 2em 2em;

    .container-heading, .container-heading-text {
        margin-top: 2em;
    }
}

.booking-summary {
    background-color: #eee;
    display: inline-block;
    margin: 1em auto;
    max-width: 70%;
    padding: 1em 2em;

    p {
        margin: 0 0 10px;
    }
}

.order-options {
    section.col-md-6 {
        display: inline-block;
        margin: 2em 0;

        .card {
            background-color: #eee;
            border: 2px #ddd solid;

            ul {
                li {
                    list-style: none;
                    text-align: left;
                    margin-bottom: 1em;

                    &:before {
                        content: "- ";
                    }
                }
            }

            .order-option-heading {
                min-height: 100px;
            }
        }
    }

    #computer-only {
        background-color: #fff;
        border: 2px #ddd solid;
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 992px) {
    .order-options {
        section.col-md-6 {
            width: 100%;
        }
    }
}

.prompt {
    font-weight: bold;
}

.order-options + section {
    clear: both;
}

#booking-date {
    display: block;
    font-weight: bold;
}