@mixin element-focus {
  outline: 5px solid $link-blue;
  outline-offset: 0;
  z-index: 999;
}

@mixin availability-list-item {
    color: #134571;
    font-weight: bold;
    display: flex;
    padding: 20px 15px;
    font-family: $body_font;
    font-size: 1em;
    border-bottom: 2px solid #ddd;
    margin: 10px 0;
    width: 100%;


    span {
        padding: 0;
        span {
            padding: 0;
            text-decoration: underline;
            @media (max-width: $screen-phone) {
                display: block;
                width: 100%;
                text-align: left;
            }
        }
        span:last-child {
            text-decoration: none;
            font-size: 0.9em;
            color: #444;
            @media (max-width: $screen-phone) {
                padding-top: 0.75em;
            }
        }
    }
}
