/* TNA old colours */
$tna_red: #cb0d07;
$tna_teal: #008484;
$tna_blue: #405480;
$tna_yellow: #fce45c;
$tna_yellow_dark: #ebab00;
$tna_light: #eee;
$tna_mid: #666;
$tna_dark: #222;
$tna_link_col: #2A5DB0;
$tna_white: #fff;
$tna_well: #f3f3f3;

/* TNA old Icons/Images */
$tna_scope_selector_expanded: url('../../images/scope-selector-expanded.png');
$tna_scope_selector : url('../../images/scope-selector.png');
$tna_search_white: url('../../images/search-white.png') center no-repeat;
$tna_close_search: url('../../images/close-search.png') center no-repeat;
$tna_menu_trigram_lrg:url("../../images/menu-trigram-lrg.png") center no-repeat;
$tna_menu_trigram_lrg_red:url("../../images/menu-trigram-lrg-red.png") center no-repeat;
$tna_menu_collapsed: url('../../images/menu-collapsed.png');
$tna_eye_img_caption: url('../../images/eye-caption.png');
$tna_eye_img_caption_hover: url('../../images/img/eye-caption-hover.png');
$tna_icon_24_link: url('../../images/icon-24-heading-link.png');
$tna_dot_grey:url('../../images/dot-grey.png');
$tna_heading_flourish:url('../../images/heading-flourish.png') no-repeat bottom left;

/* NEW */

/* TNA fonts */
$body_font: 'Open Sans', sans-serif;
$heading_font: 'Roboto Mono', monospace;

/* TNA colours */
$dark: #26262a;

$grey-light: #eee;
$grey-mid-light: #ddd;
$grey-mid-dark: #555;

$green: #dde5d5;
$pink: #fad3d4;
$yellow-peach: #fbe2bc;
$yellow-light: #f9f7e2;

$alert: $yellow-peach;
$success: $green;
$error: $pink;

$link-blue: #1d70b8;
$link-hover: #003078;

/* Grid */
$grid-line: 2px solid #888;

/* TNA Icons/Images */
$tna_icon_24_link:url('../../images/icon-24-heading-link.png');
$tna_icon_envelope:url('../../images/icon-envelope.png');
$tna_icon_rss:url('../../images/icon-rss.png');
$tna_icon_facebook:url('../../images/icon-social-facebook.png');
$tna_icon_flickr:url('../../images/icon-social-flickr.png');
$tna_icon_twitter:url('../../images/icon-social-twitter.png');
$tna_icon_instagram:url('../../images/icon-instagram.png');
$tna_icon_youtube:url('../../images/icon-social-youtube-play.png');
$tna_icon_calendar:url(../../images/icon-calendar.svg);
$tna_icon_audio:url('../../images/icon-audio.png');
$tna_icon_video:url('../../images/icon-video.png');
$tna_icon_info:url('../../images/icon-info.png');
$tna_icon_chevron_down:url('../../images/icon-chevron-down.png');
$tna_icon_chevron_up_lg:url('../../images/icon-chevron-up-lg.png');
$tna_icon_chevron_down_lg:url('../../images/icon-chevron-down-lg.png');
$tna_icon_menu:url('../../images/icon-menu.png');
$tna_icon_search:url('../../images/icon-search.png');
